
@charset "UTF-8";
/* Webfont: Univers-Condensed */
@font-face {
    font-family: 'UniversCondensed';
    src: url('fonts/Univers-Condensed.eot'); /* IE9 Compat Modes */
    src: url('fonts/Univers-Condensedd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Univers-Condensed.woff') format('woff'), /* Modern Browsers */
         url('fonts/Univers-Condensed.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Univers-Condensed.svg#Univers-Condensed') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@charset "UTF-8";
/* Webfont: Univers-Light */
@font-face {
    font-family: 'UniversLight';
    src: url('fonts/Univers-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/Univers-Lightd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Univers-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/Univers-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Univers-Light.svg#Univers-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@charset "UTF-8";
/* Webfont: Univers-CondensedBold */
@font-face {
    font-family: 'UniversCondensedBold';
    src: url('fonts/Univers-CondensedBold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Univers-CondensedBoldd41d.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Univers-CondensedBold.woff') format('woff'), /* Modern Browsers */
         url('fonts/Univers-CondensedBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Univers-CondensedBold.svg#Univers-CondensedBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

.cursive {font-family: 'Damion', cursive;}

body {
    padding: 0;
    margin: 0;
    font-family: Arial , sans-serif;
	color: rgb(97, 97, 97);
    font-weight: normal;
	font-size: 1em;
    line-height: 1.5em;
    color: #000;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
	color: rgb(97, 97, 97);
	font-family: Arial;
	font-size: 1em;
}

a {
    color: #0a82c5;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
}

a:hover {
    color: #1f4799;
    text-decoration: underline;
}


.button{transition: background-color 0.25s;}

ul,ol li {color: rgb(97, 97, 97);}

h2 {font-size:2.8em; line-height: 1em; color: #1f4799; font-family: 'UniversCondensedBold', sans-serif; padding:1em 0 0.5em; margin:0;}
h3 {font-size:2.2em; line-height: 1em; color: #0a82c5; font-family: 'UniversCondensedBold', sans-serif; padding:0.5em 0; margin:0;}
h4 {font-size:2em; line-height: 1em; color: #1f4799; font-family: 'UniversCondensedBold', sans-serif; padding:0.25em 0; margin:0;}



a.ext:after {
    content: "";
    display: inline-block;
	padding-left:4px;
	margin: 0 4px 0;
    background: url("../img/External-Link.png") no-repeat top right;
    width: 14px;
    height: 14px;
}

a.pdf:after {
    content: "";
    display: inline-block;
	padding-left:4px;
	margin: 0 4px 0;
    background: url("../img/pdf.png") no-repeat top right;
    width: 16px;
    height: 16px;
}

.ext2 {
    content: "";
    display: inline-block;
	padding-left:4px;
	margin: 0 4px 0;
    background: url("../img/External-Link.png") no-repeat top right;
    width: 14px;
    height: 14px;
	cursor: help;
}

.ext-green {
    content: "";
    display: inline-block;
	padding-left:4px;
	margin: 0 4px 0;
    background: url("../img/External-Link-green.png") no-repeat top right;
    width: 14px;
    height: 14px;
	cursor: help;
}

.ext-white2 {
    content: "";
    display: inline-block;
	padding-left:4px;
	margin: 0 4px 0;
    background: url("../img/External-Link-white.png") no-repeat top right;
    width: 14px;
    height: 14px;
	cursor: help;
}

.ext-white3 {
    content: "";
    display: inline-block;
	padding-left:4px;
	margin: 0 4px 0;
    background: url("../img/External-Link-white.png") no-repeat top right;
    width: 14px;
    height: 14px;
}

.ext-white3:hover {
    content: "";
    display: inline-block;
	padding-left:4px;
	margin: 0 4px 0;
    background: url("../img/External-Link.png") no-repeat top right;
    width: 14px;
    height: 14px;
	cursor: help;
}

a.ext-white:after {
    content: "";
    display: inline-block;
	padding-left:4px;
	margin: 0 4px 0;
    background: url("../img/External-Link-white.png") no-repeat top right;
    width: 14px;
    height: 14px;
}

li.five a:hover .ext-white2 {
    content: "";
    display: inline-block;
	padding-left:4px;
	margin: 0 4px 0;
    background: url("../img/External-Link-purple.png") no-repeat top right;
    width: 14px;
    height: 14px;
}

.subheader {
    font-size: 1.5em;
    line-height: 1em;
    color: #1f4799;
    font-family: "UniversCondensedBold",sans-serif;
    padding: 0;
    margin: 0px 0px 1em;
}

.no-wrap{white-space:nowrap;}

.off-canvas-content, .off-canvas-content {
    min-height: 100%;
    background: #fff;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.5);
}



.header-divider {width:100%; height: 4px; background-color:#116db6;}	

header .logo{padding: 1em 0 0 0;}
header {height:74px};

@media screen and (min-width: 40em){

}

@media screen and (min-width: 64em){
header .logo{padding-left:0px; padding-top:64px;}
header {height:131px};
}

.off-canvas {
	/* display: none; */
    position: absolute;
    background: #fff;
    /* z-index: -1; */
    max-height: 100%;
    overflow-y: auto;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.z-index-overlay{
	z-index: -1;	
}

/*top_container-Language assistance*/
.top_container {
    background-color: #E8EEF4;
    font-family:Arial, Helvetica, sans-serif;
	width: 100%;
    height: 35px;
	}

	ul.top-nav {
    float: right;
    font-size: 0.8em !important;
    color: #444;
    margin: 0;
	}

	ul.top-nav li {
    float: left;
	font-family:inherit;
	font-size: inherit !important;
    display: block;
    margin: 0 5px;
	}

	ul.top-nav li a {
    display: block;
	line-height: 35px;
    padding: 0 3px;
	text-decoration: none;
	}

@media screen and (max-width: 63.9375em) and (min-width: 40em) {
	.top_container .row.column, .top_container .columns, .header-area .column, .header-area .columns {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
	}
}	
	
@media (max-width: 75rem) {
	.top_container .row.column, .top_container .columns, .header-area .column, .header-area .columns {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
	}	
}



/***************************************MENU**********************************/

.tb-menu  {position:relative;}

.tb-menu .divider {display: block; width:100%; background: #fff; height:1px; margin-top: 0; margin-bottom: 15px;}
							
.tb-menu ul {list-style-type: none; position:relative; text-align:right; padding-bottom:10px; margin-left: 3%;  margin-bottom:0;}

.tb-menu ul li {
    margin: 0 1% 0 0;
    display: inline-block;
    line-height: 1em;
    text-align: center;
    font-family: 'UniversCondensedBold', sans-serif;
    font-size: 0.96em;
    letter-spacing: -0.4px;
    white-space: nowrap;
    vertical-align: top;
	}



.tb-menu ul li a {display: block; padding:10px 0 1em;}

/*
.tb-menu ul li:first-child {margin: 0 1em 0 0;}
*/
.tb-menu ul li:last-child {margin: 0 0 0 0}


.tb-dropdown{
	display:none; 
	z-index:1000; 
	position:absolute; 
	color: #fff;  
	text-align:left;
	width: 100%;
	padding: 1em;
	white-space: normal;
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.3);
}

.tb-dropdown p{
	color:#fff;
}


/* ONE */

.tb-menu ul li.one {border-top:solid 5px #0a82c5; color:#0a82c5; background-color:#fff; width:18%;}						
.tb-menu ul li.one:hover {color:#fff; background-color:#0a82c5; text-decoration: none;}

.tb-menu ul li.one .active {color:#fff; background-color:#0a82c5; text-decoration: none;}

.tb-menu ul li.one a {color:#0a82c5;}					
.tb-menu ul li.one:hover a {color:#fff; text-decoration: none;}


.tb-dropdown.one {
	background-color:#0a82c5;
	margin-left: 0;
	width: 65%;
}

.tb-dropdown.one a {display:block; color:#fff; line-height: 3em; padding:0 1em;}

.tb-dropdown.one a:hover{
	color:#0a82c5 !important;
	background-color:#fff;
	 text-decoration: none;
	
}

.tb-menu ul li.one:hover .tb-dropdown.one {
	display:block;
	 text-decoration: none;
}

							
/* TWO */

.tb-menu ul li.two {border-top:solid 5px #d6470b; color:#d6470b; background-color:#fff; width:15%;}						
.tb-menu ul li.two:hover {color:#fff; background-color:#d6470b; text-decoration: none;}

.tb-menu ul li.two .active {color:#fff; background-color:#d6470b; text-decoration: none;}

.tb-menu ul li.two a {color:#d6470b;}					
.tb-menu ul li.two:hover a {color:#fff; text-decoration: none;}


.tb-dropdown.two {
	background-color:#d6470b;
	margin-left: 0%;	
	width: 65%;
}

.tb-dropdown.two a {display:block; color:#fff; line-height: 3em; padding:0 1em;}

.tb-dropdown.two a:hover{
	color:#d6470b !important;
	background-color:#fff;
	 text-decoration: none;
}


.tb-menu ul li.two:hover .tb-dropdown.two {
	display:block;
	 text-decoration: none;
}


/*THREE*/

.tb-menu ul li.three {border-top:solid 5px #36a000; color:#36a000; background-color:#fff; width:15%;}						
.tb-menu ul li.three:hover {color:#fff; background-color:#36a000; text-decoration: none;}

.tb-menu ul li.three .active {color:#fff; background-color:#36a000; text-decoration: none;}

.tb-menu ul li.three a {color:#36a000;}					
.tb-menu ul li.three:hover a {color:#fff; text-decoration: none;}


.tb-dropdown.three {
	background-color:#36a000;
	margin-left: -25%;
	width: 65%;								
}

.tb-dropdown.three a {display:block; color:#fff; line-height: 3em; padding:0 1em;}

.tb-dropdown.three a:hover{
	color:#36a000 !important;
	background-color:#fff;
	 text-decoration: none;
	
}

.tb-menu ul li.three:hover .tb-dropdown.three {
	display:block;
	 text-decoration: none;
}

/*FOUR*/

.tb-menu ul li.four { border-top:solid 5px #f67f00; color:#f67f00; background-color:#fff; width:23%;}						
.tb-menu ul li.four:hover {color:#fff; background-color:#f67f00; text-decoration: none;}

.tb-menu ul li.four .active {color:#fff; background-color:#f67f00; text-decoration: none;}

.tb-menu ul li.four a {color:#f67f00;}					
.tb-menu ul li.four:hover a {color:#fff; text-decoration: none;}


.tb-dropdown.four {
	background-color:#f67f00;
	margin-left: -42%;
	width: 65%;
	
}

.tb-dropdown.four a {display:block; color:#fff; line-height: 3em; padding:0 1em;}

.tb-dropdown.four a:hover{
	color:#f67f00 !important;
	background-color:#fff;
	 text-decoration: none;
}


.tb-menu ul li.four:hover .tb-dropdown.four {
	display:block;
	 text-decoration: none;
}

/*FIVE*/

.tb-menu ul li.five {border-top:solid 5px #9911b6; color:#9911b6; background-color:#fff; width:18%;}						
.tb-menu ul li.five:hover {color:#fff; background-color:#9911b6; text-decoration: none;}

.tb-menu ul li.five .active {color:#fff; background-color:#9911b6; text-decoration: none;}

.tb-menu ul li.five a {color:#9911b6;}					
.tb-menu ul li.five:hover a {color:#fff; text-decoration: none;}


.tb-dropdown.five {
	background-color:#9911b6;
	right: 0;
	width: 65%;
}

.tb-dropdown.five a {display:block; color:#fff; line-height: 3em; padding:0 1em;}

.tb-dropdown.five a:hover{
	color:#9911b6 !important;
	background-color:#fff;
	 text-decoration: none;
	
}

.tb-menu ul li.five:hover .tb-dropdown.five {
	display:block;
	 text-decoration: none;
}

.questions {color: rgb(97, 97, 97);	font-family: Arial; font-size: 16px;  line-height: 16px; padding: 27px 0 31px; margin:0;}

@media (min-width: 640px) and (max-width: 1023px){
	
	.questions {font-size: 14px;  line-height: 16px; padding: 1em 0; margin:0;}
	
	.tb-menu ul li.one {width:18%;}	
	.tb-menu ul li.two {width:16%;}	
	.tb-menu ul li.three {width:16%;}	
	.tb-menu ul li.four {width:26%;}	
	.tb-menu ul li.five {width:20%;}	
	
	header .logo{padding: 2em 0 5em 1em;}
	header {height:98px};
	
	.tb-menu {padding: 1em;}
	
	.tb-menu ul {list-style-type: none; position:relative; text-align:right; padding-bottom:10px; padding-left:0; margin-left: 0; margin-bottom:0;}
	
	.tb-menu ul li{white-space: normal; line-height:1em; }
	
	.tb-dropdown{
		/*position:fixed; */
		color: #fff;  
		text-align:left;
		width: 100%;
		padding: 1em;
		left:0;
	}
	
	.tb-dropdown.one, .tb-dropdown.two, .tb-dropdown.three, .tb-dropdown.four, .tb-dropdown.five {
		margin-left: 0;
		width:100%
	}
	
	.tb-menu ul li a {
	
		padding:10px 0 1.25em;
	
	}
	
	.questions {line-height: 16px; padding: 27px 0.9375rem 31px 0; margin:0;}
	
}

/*****************************************************************************/


footer {	}
	
#footer1{
	background-color:#0a82c5;
	color:#fff;
	padding:50px 0;
}

#footer2{
	background-color:#116db6;
	color:#fff;
	padding:30px 0;
	-webkit-box-shadow: 0px 800px 0px 800px rgba(17,109,182,1);
	-moz-box-shadow: 0px 800px 0px 800px rgba(17,109,182,1);
	box-shadow: 0px 800px 0px 800px rgba(17,109,182,1);

}
	
	
#footer1 {margin-top: 40px; background-color: #0a82c5; padding: 50px 0 20px;}
#footer1 .footer-box {padding-bottom: 30px;}
#footer1 h5 {font-family:'UniversCondensed', sans-serif; font-weight: bold; font-size:22px; line-height: 1.2em; color:#fff;}
#footer1 a {font-family:'UniversCondensed', sans-serif; font-size: 1em; line-height: 2em; color: #fff; display: block;}
#footer1 a:hover {text-decoration: underline;}
#footer1 .social a {display: inline-block; margin-right: 4px;}
#footer1 p {font-family:'UniversCondensed'; font-size:1.2em; line-height: 1.4em; margin: 0; padding: 0; color:#fff; }

#footer2 {color: #fff;}
#footer2 p {color: #fff; font-size: 0.8em; padding: 0; margin: 0;}
#footer2 a {color: #fff; display: inline-block; line-height: 3em;}
#footer2 a:hover {text-decoration: underline;}

@media screen and (min-width: 64em){
	.row.large-uncollapse > .column, .row.large-uncollapse > .columns {
		padding-left: 1em;
		padding-right: 1em;
	}
}

.menu {
  margin: 0;
  list-style-type: none; }
  .menu > li {
    display: table-cell;
    vertical-align: middle;
	text-align: center;
	font-size: 14px; 
	font-weight: bold; 
	padding: 0 0.75rem;
	margin: 0 0.75rem;}
    [data-whatinput='mouse'] .menu > li {
      outline: 0; }
  .menu > li:not(.menu-text) > a {
    display: block;
	padding: 0.7rem 0.5rem;
    line-height: 1; }
  .menu input,
  .menu a,
  .menu button {
    margin-bottom: 0; }
	
	
	.menu-accordion {
	list-style-type: none;
	background: #fefefe;
	border: 0px solid #fff;
	border-radius: 0;
	margin-left: 0; }

	.menu-accordion-title {
	display: block;
	font-family: 'UniversCondensed', sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 1.25rem 1rem;
	position: relative;
	}

	.menu-accordion-title:hover, .amenu-ccordion-title:focus {
	background-color: #ececec; text-decoration: none; }
	

	.menu-accordion-title {
		border-bottom: 2px solid #cbcbcb; 
	}
	
	
	.menu-accordion-title.at1{color:#0a82c5;}
	.menu-accordion-title.at2{color:#d6470b;}
	.menu-accordion-title.at3{color:#36a000;}
	.menu-accordion-title.at4{color:#ffb500;}
	.menu-accordion-title.at5{color:#9911b6;}

	.menu-accordion-title.at1::before {content: url(../img/1-down.png); position: absolute; right: 1rem; top: 50%; margin-top: -0.5rem;}
	.is-active > .menu-accordion-title.at1::before{content: url(../img/1-up.png);}

	.menu-accordion-title.at2::before {content: url(../img/2-down.png); position: absolute; right: 1rem; top: 50%; margin-top: -0.5rem;}
	.is-active > .menu-accordion-title.at2::before{content: url(../img/2-up.png); }

	.menu-accordion-title.at3::before {content: url(../img/3-down.png); position: absolute; right: 1rem; top: 50%; margin-top: -0.5rem;}
	.is-active > .menu-accordion-title.at3::before{content: url(../img/3-up.png);}

	.menu-accordion-title.at4::before {content: url(../img/4-down.png); position: absolute; right: 1rem; top: 50%; margin-top: -0.5rem; }
	.is-active > .menu-accordion-title.at4::before{content: url(../img/4-up.png); }	

	.menu-accordion-title.at5::before {content: url(../img/5-down.png); position: absolute; right: 1rem; top: 50%; margin-top: -0.5rem; }
	.is-active > .menu-accordion-title.at5::before{content: url(../img/5-up.png); }	


	.menu-accordion-content {
	  padding: 0;
	  display: none;
	  border-bottom: 5px solid #cbcbcb; }
	  
	  .menu-accordion-content a{
		display:block;
		padding:1em;
		color:#fff;
		font-family: 'UniversCondensed', sans-serif;
		font-size: 17px;
		font-weight: bold;
		border-bottom: solid 2px #cbcbcb;
	  }
	  
	  .menu-accordion-content a:hover{
		text-decoration: none;
	  }
	  
		.menu-accordion-content.one a{background-color:#0a82c5;}
		.menu-accordion-content.one a:hover{color:#0a82c5; background-color:#fff;}
		
		.menu-accordion-content.two a{background-color:#d6470b;}
		.menu-accordion-content.two a:hover{color:#d6470b; background-color:#fff;}
		
		.menu-accordion-content.three a{background-color:#36a000;}
		.menu-accordion-content.three a:hover{color:#36a000; background-color:#fff;}
		
		.menu-accordion-content.four a{background-color:#ffb500;}
		.menu-accordion-content.four a:hover{color:#ffb500; background-color:#fff;}
		
		.menu-accordion-content.five a{background-color:#9911b6;}
		.menu-accordion-content.five a:hover{color:#9911b6; background-color:#fff;}

	  
	  
	.is-accordion-submenu-parent > a {
	  position: relative; }
	  .is-accordion-submenu-parent > a::after {
		content: none;
		display: block;
		width: 0;
		height: 0;
		border: inset 6px;
		border-color: #2199e8 transparent transparent;
		border-top-style: solid;
		position: absolute;
		top: 50%;
		margin-top: -4px;
		right: 1rem; }

		/* .is-accordion-submenu-parent.no-after-content > a::after {
			content: none;
		} */

	.is-accordion-submenu-parent[aria-expanded='true'] > a::after {
	  -webkit-transform-origin: 50% 50%;
		  -ms-transform-origin: 50% 50%;
			  transform-origin: 50% 50%;
	  -webkit-transform: scaleY(-1);
		  -ms-transform: scaleY(-1);
			  transform: scaleY(-1); }
			  
			  
			  
	/******Content Menu******/
	
	.content-accordion {
	list-style-type: none;
	background: #fefefe;
	border-top: 0px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	
	border-radius: 0;
	margin-left: 0; }

	.content-accordion-title {
	display: block;
	font-family: 'UniversCondensed', sans-serif;
	font-size: 32px;
	color: #1f4799;
	font-weight: bold;
	padding: 1.25rem 0;
	position: relative;
	border-top: 1px solid #cccccc;
	}

	.content-accordion-title:hover, .amenu-ccordion-title:focus {
	background-color: #fff; }
	:last-child > .content-accordion-title {
    border-bottom-width: 0px;
	}
	
	.content-accordion-title {
	border-bottom: 1px solid #fff; }


	.content-accordion-title::before {content: url(../img/down.png); position: absolute; right: 1rem; top: 50%; margin-top: -1.75rem;}
	.is-active > .content-accordion-title::before{content: url(../img/up.png);}



	.content-accordion-content {
	  padding: 0 0 1em;
	  display: none;
	  border-bottom: 1px solid #fff; }

	.is-accordion-submenu-parent > a {
	  position: relative; }
	  .is-accordion-submenu-parent > a::after {
		content: none;
		display: block;
		width: 0;
		height: 0;
		border: inset 6px;
		border-color: #2199e8 transparent transparent;
		border-top-style: solid;
		position: absolute;
		top: 50%;
		margin-top: -4px;
		right: 1rem; }

	.is-accordion-submenu-parent[aria-expanded='true'] > a::after {
	  -webkit-transform-origin: 50% 50%;
		  -ms-transform-origin: 50% 50%;
			  transform-origin: 50% 50%;
	  -webkit-transform: scaleY(-1);
		  -ms-transform: scaleY(-1);
			  transform: scaleY(-1); }
	

	
/*MOBILE MENU*/	

								.orbit-previous:hover, .orbit-next:hover, .orbit-previous:active, .orbit-next:active, .orbit-previous:focus, .orbit-next:focus {
									background-color: rgba(10, 10, 10, 0);
								}

								.orbit-bullets button {
									width: 0.85rem;
									margin: 0 0.2rem;
									background-color: #CACACA;
									border-radius: 50%;
									height: 0.85rem;
								}
								
								.home-banner .slide{
									 background-repeat:no-repeat; background-size:cover; width:100%; text-align:left; float:left;
								}
								
								.home-banner .slide .divider{
									 width:100%; height: 3px; background-color:#fff; margin:1em 0;
								}

								.home-banner .slide.one { background-image: url(../img/banner1.jpg); }
								.home-banner .slide.one .text-box {background-color:rgba(214,71,11,0.69);  height:445px; color:#fff; padding:60px 70px 0 50px;}
								.home-banner .slide.one .text-box h2{color:#fff; font-family: UniversCondensedBold; font-size:40px;  padding-top: 0; padding-bottom:0;}
								.home-banner .slide.one .text-box p{color:#fff; font-family: UniversCondensed; font-size:25px; line-height:33px;}

								.home-banner .slide.two { background-image: url(../img/banner2.jpg); }
								.home-banner .slide.two .text-box {background-color:rgba(54,160,0,0.69);  height:445px; color:#fff; padding:60px 70px 0 50px;}
								.home-banner .slide.two .text-box h2{color:#fff; font-family: UniversCondensedBold; font-size:40px;  padding-top: 0; padding-bottom:0;}
								.home-banner .slide.two .text-box p{color:#fff; font-family: UniversCondensed; font-size:25px; line-height:33px;}

								.home-banner .slide.three { background-image: url(../img/banner3.jpg); }
								.home-banner .slide.three .text-box {background-color:rgba(0,108,184,0.69); height:445px; color:#fff; padding:60px 70px 0 50px;}
								.home-banner .slide.three .text-box h2{color:#fff; font-family: UniversCondensedBold; font-size:40px;  padding-top: 0; padding-bottom:0;}
								.home-banner .slide.three .text-box p{color:#fff; font-family: UniversCondensed; font-size:25px; line-height:33px;}


								.home-banner .slide .button{
									font-family: UniversCondensedBold;
									width: 100%;
									border-radius: 10px;
									font-size: 1.3em;
									padding: 0.5em 0;
									margin:0;
								}

								.home-banner .slide.one .button {border:solid 3px #fff;	background-color: transparent; color:#fff;}
								.home-banner .slide.two .button {border:solid 3px #fff; background-color:transparent; color:#fff;}
								.home-banner .slide.three .button {border:solid 3px #fff; background-color:transparent; color:#fff;}

								.home-banner .slide.one .button:hover{border:solid 3px rgba(214,71,11,0.69); background-color:rgba(214,71,11,0.69);;	color:#fff; text-decoration: none;}
								.home-banner .slide.two .button:hover{border:solid 3px rgba(54,160,0,0.69); background-color:rgba(54,160,0,0.69);	color:#fff; text-decoration: none;}
								.home-banner .slide.three .button:hover{border:solid 3px rgba(0,108,184,0.69);	background-color:rgba(0,108,184,0.69); color:#fff; text-decoration: none;}

								
								
								.orbit-container{height:400px;}
									
									
									
									
									
								@media screen and (max-width: 40em){	
									
									.orbit-container{}
									
									.home-banner .slide{
										text-align:center;
										height:250px;
									}
									
									.home-banner .slide .divider{
										 width:100%; height: 3px; background-color:#fff; margin:0.75em 0;
									}
									
									.home-banner .cursive {font-family: 'Damion', cursive; font-size:30px;}
									.home-banner .slide.one { background-image: none; }
									.home-banner .slide.one .text-box {padding:20px 20px 0 ;}
									.home-banner .slide.one .text-box h2{font-size:20px;  padding-top: 0; padding-bottom:0;}
									.home-banner .slide.one .text-box p{ font-size:18px; line-height:24px;}

									.home-banner .slide.two { background-image: none; }
									.home-banner .slide.two .text-box {padding:20px 20px 0 ;}
									.home-banner .slide.two .text-box h2{font-size:20px;  padding-top: 0; padding-bottom:0;}
									.home-banner .slide.two .text-box p{font-size:18px; line-height:24px;}

									.home-banner .slide.three { background-image: none; }
									.home-banner .slide.three .text-box {padding:20px 20px 0 ;}
									.home-banner .slide.three .text-box h2{ font-size:20px;  padding-top: 0; padding-bottom:0;}
									.home-banner .slide.three .text-box p{font-size:18px; line-height:24px;}
									
									.home-banner .slide .button{
										font-family: UniversCondensedBold;
										width: 100%;
										border-radius: 10px;
										font-size: 1.0em;
										padding: 0.5em 0;
										margin:0;
									}
								
								}
								
								
								
								
								
								@media (min-width: 40em) and (max-width: 64em){	
									.home-banner .slide{
										text-align:center;
										height:300px;
									}
									.orbit-container{height:300px;}
									.home-banner .cursive {font-family: 'Damion', cursive; font-size:40px;}
									.home-banner .slide.one { background-image: none; }
									.home-banner .slide.one .text-box {padding:30px 60px 0 60px;}
									.home-banner .slide.one .text-box h2{font-size:30px;  padding-top: 0; padding-bottom:0;}
									.home-banner .slide.one .text-box p{ font-size:25px; line-height:33px;}

									.home-banner .slide.two { background-image:  none; }
									.home-banner .slide.two .text-box {padding:30px 60px 0 60px;}
									.home-banner .slide.two .text-box h2{font-size:30px;  padding-top: 0; padding-bottom:0;}
									.home-banner .slide.two .text-box p{font-size:25px; line-height:33px;}

									.home-banner .slide.three { background-image: none; }
									.home-banner .slide.three .text-box {padding:30px 60px 0 60px;}
									.home-banner .slide.three .text-box h2{ font-size:30px;  padding-top: 0; padding-bottom:0;}
									.home-banner .slide.three .text-box p{color:#fff; font-family: UniversCondensed; font-size:25px; line-height:33px;}
								
								}
								
								
								
								
								
								@media (min-width: 64em){	
									
									.home-banner .slide{
										height:445px;
									}
									.home-banner .cursive {font-family: 'Damion', cursive; font-size:50px;}
									.home-banner .slide.one { background-image: url("../img/banner1.jpg"); }
									.home-banner .slide.one .text-box {padding:60px 70px 0 50px;}
									.home-banner .slide.one .text-box h2{font-size:40px;  padding-top: 0; padding-bottom:0;}
									.home-banner .slide.one .text-box p{ font-size:25px; line-height:33px;}

									.home-banner .slide.two { background-image: url("../img/banner2.jpg"); }
									.home-banner .slide.two .text-box {padding:60px 70px 0 50px;}
									.home-banner .slide.two .text-box h2{font-size:40px;  padding-top: 0; padding-bottom:0;}
									.home-banner .slide.two .text-box p{font-size:25px; line-height:33px;}

									.home-banner .slide.three { background-image: url("../img/banner3.jpg"); }
									.home-banner .slide.three .text-box {padding:60px 70px 0 50px;}
									.home-banner .slide.three .text-box h2{ font-size:40px;  padding-top: 0; padding-bottom:0;}
									.home-banner .slide.three .text-box p{color:#fff; font-family: UniversCondensed; font-size:25px; line-height:33px;}
								
								}
								
								#back-to-top {
									position: fixed;
									bottom: 40px;
									right: 40px;
									z-index: 1005;
									width: 32px;
									height: 32px;
									text-align: center;
									line-height: 30px;
									background: #f5f5f5;
									color: #444;
									cursor: pointer;
									border: 0;
									border-radius: 2px;
									text-decoration: none;
									transition: opacity 0.2s ease-out;
									opacity: 0;
								}
								#back-to-top:hover {
									background: #e9ebec;
								}
								#back-to-top.show {
									opacity: 1;
								}

	
	
/*right nav*/

.info-box .header {background-color:#000; color:#fff;  font-family: 'UniversCondensed', sans-serif; font-size:1.75em; line-height:1em; margin: 1em 0 0; padding:10px 15px; text-align:center;}
.info-box .content {background-color:#fff; color:#4f4f4f; font-family: Arial, sans-serif; font-size:1em; border-right:3px solid #000; border-left:3px solid #000; border-bottom:3px solid #000; text-align:center; padding:1em 1em 2.5em; margin-bottom: 0.6em;}

.info-box .info-button {cursor:pointer; text-align:center; background-color:#000; color:#fff; border: solid 3px #000; width:90%; margin:-30px auto 0; padding: 0.75em 0.8em 0.5em; line-height:14px; font-family: 'UniversCondensed', sans-serif; font-size:15px; border-radius: 7px; transition: background-color 0.25s; display: block;}
.info-box .info-button:hover {background-color:#fff; color:#000; text-decoration: none;}

.info-box.blue .header {background-color:#0a82c5;}
.info-box.blue .content {border-right:3px solid #0a82c5; border-left:3px solid #0a82c5; border-bottom:3px solid #0a82c5;}
.info-box.blue .info-button {background-color:#0a82c5; border: solid 3px #0a82c5; }
.info-box.blue .info-button:hover {background-color:#fff; color:#0a82c5; text-decoration: none;}

.info-box.orange .header {background-color:#f67f00;}
.info-box.orange .content {border-right:3px solid #f67f00; border-left:3px solid #f67f00; border-bottom:3px solid #f67f00;}
.info-box.orange .info-button {background-color:#f67f00; border: solid 3px #f67f00; }
.info-box.orange .info-button:hover {background-color:#fff; color:#f67f00; text-decoration: none;}


/*Home page styles*/
.upcoming-events {}

.upcoming-events h2 { text-align:center; padding-top:0;}

.upcoming-events h2 .one {color: rgb(10, 130, 197); font-size: 60px; height: auto; line-height: 103.36px; text-align: center;}
.upcoming-events h2 .two {color: rgb(31, 71, 153); font-family: UniversCondensedBold; font-size: 60px; line-height: 66px; margin-bottom: 11px; text-align: center; text-transform: uppercase;}

.upcoming-events p{color: rgb(97, 97, 97); font-family: Arial; font-size: 18px; line-height: 30px; text-align: center; width:75%; margin:0 auto;}

.upcoming-events .link {text-align:center; padding-top:15px;}

.upcoming-events .link a{color: #5ba039;  font-family: UniversCondensedBold; font-size: 24px; line-height: 52px; text-align: center; text-decoration: none;}

.upcoming-events .link a .left{display:inline-block;}
.upcoming-events .link a .right{padding-left: 10px; display:inline-block;}


@media screen and (max-width: 640px){	
	
.upcoming-events {padding-bottom:40px;}

.upcoming-events h2 .one { font-size: 50px; height: auto; line-height: 64px; text-align: center;}
.upcoming-events h2 .two { font-size: 40px; line-height: 56px; margin-bottom: 0; text-align: center; text-transform: uppercase;}

.upcoming-events p{font-size: 16px; line-height: 28px;  width:90%; margin:0 auto;}

.upcoming-events .link {text-align:center; padding-top:15px;}

.upcoming-events .link a{color: #5ba039;  font-family: UniversCondensedBold; font-size: 22px; line-height: 52px; text-align: center; text-decoration: none;}

.upcoming-events .link a .left{display:inline-block;}
.upcoming-events .link a .right{padding-left: 10px; display:inline-block;}
	
}


.home-links .box{
	text-align: center;
	padding-bottom: 90px;
}

.home-links .box.one .title1{color:#d11e00; font-family: 'Damion', cursive; font-size:50px; line-height: 10px; padding-top: 32px;}
.home-links .box.one .title2{color:#d11e00; font-family: UniversCondensedBold; font-size:50px;  line-height: 50px; margin-bottom: 0.5em;}

.home-links .box.two .title1{color:#339302; font-family: 'Damion', cursive; font-size:50px; line-height: 10px; padding-top: 32px;}
.home-links .box.two .title2{color:#339302; font-family: UniversCondensedBold; font-size:50px;  line-height: 50px;}

.home-links .box.three .title1{color:#f78000; font-family: 'Damion', cursive; font-size:50px; line-height: 10px; padding-top: 32px;}
.home-links .box.three .title2{color:#f78000; font-family: UniversCondensedBold; font-size:50px;  line-height: 50px;}

.home-links .box .description{
	font-size: 16px;
	line-height: 25px;
	min-height:180px;
	
}

.home-links .box .button{
	font-family: UniversCondensedBold;
	border-radius: 10px;
	font-size: 15px;
	text-transform: uppercase;
	padding: 1em 4em;
	margin:0;
}

.home-links .box.one .button {border:solid 3px #d11e00;	background-color:#fff; color:#d11e00;}
.home-links .box.two .button {border:solid 3px #339302; background-color:#fff; color:#339302;}
.home-links .box.three .button {border:solid 3px #f78000; background-color:#fff; color:#f78000;}

.home-links .box.one .button:hover{border:solid 3px #d11e00; background-color:#d11e00;	color:#fff; text-decoration: none;}
.home-links .box.two .button:hover{border:solid 3px #339302; background-color:#339302;	color:#fff; text-decoration: none;}
.home-links .box.three .button:hover{border:solid 3px #f78000;	background-color:#f78000; color:#fff; text-decoration: none;}

@media screen and (max-width: 40em){	
	.home-links .box{
		text-align: center;
		padding-bottom: 20px;
	}
	
	.home-links .box .description{
		font-size: 16px;
		line-height: 24px;
		min-height:0;
		
	}
	
	.home-links .box.one .title1{font-size:40px; line-height: 10px; padding-top: 30px;}
	.home-links .box.one .title2{font-size:40px; line-height: 40px;}
	
	.home-links .box.two .title1{font-size:40px; line-height: 10px; padding-top: 30px;}
	.home-links .box.two .title2{font-size:40px; line-height: 40px;}
	
	.home-links .box.three .title1{font-size:40px; line-height: 10px; padding-top: 30px;}
	.home-links .box.three .title2{font-size:40px; line-height: 40px;}
	
	.home-links .box .button{
		padding: 0.8em 4em;
		margin:0 0 1em;
		width:90%
	}

}

@media (min-width: 40em) and (max-width: 64em){	
	.home-links .box{
		text-align: center;
		padding-bottom: 30px;
	}
	
	.home-links .box .description{
		font-size: 16px;
		line-height: 25px;
		min-height:0;
		
	}
	
	.home-links .box.one .title1{font-size:40px; line-height: 30px; padding-top: 32px;}
	.home-links .box.one .title2{font-size:40px; font-weight: bold; line-height: 50px;}
	
	.home-links .box.two .title1{font-size:40px; line-height: 30px; padding-top: 32px;}
	.home-links .box.two .title2{font-size:40px; font-weight: bold; line-height: 50px;}
	
	.home-links .box.three .title1{font-size:40px; line-height: 30px; padding-top: 32px;}
	.home-links .box.three .title2{font-size:40px; font-weight: bold; line-height: 50px;}

	.home-links .box .button{
		padding: 0.8em 4em;
		margin:0 0 2em;
	}
}



@media (min-width: 64em){
	.home-links .box{
		text-align: center;
		padding-bottom: 90px;
	}					
	
	.home-links .box .description{
		font-size: 16px;
		line-height: 25px;
		min-height:180px;
		
	}
	
	.home-links .box.one .title1{color:#d11e00; font-size:50px; line-height: 10px; padding-top: 32px;}
	.home-links .box.one .title2{color:#d11e00; font-size:50px; font-weight: bold; line-height: 50px;}
	
	.home-links .box.two .title1{color:#339302; font-size:50px; line-height: 10px; padding-top: 32px;}
	.home-links .box.two .title2{color:#339302; font-size:50px; font-weight: bold; line-height: 50px;}
	
	.home-links .box.three .title1{color:#f78000; font-size:50px; line-height: 10px; padding-top: 32px;}
	.home-links .box.three .title2{color:#f78000; font-size:50px; font-weight: bold; line-height: 50px;}
	
	}
	
	.pdf-container{
	text-align:left;
	}

	.pdf-container .divider {
	margin-top: 2em;
	margin-bottom:2em;
	background-color:#ccc; 
	height:2px;
	}


	.pdf-container img {

	border:solid 2px #116db6;
	width: 155px;

	}

	.pdf-container h4 {
	font-family: 'UniversCondensedBold', sans-serif; font-size: 1.5em; color:#0a82c5; padding:1em 0; text-decoration: underline;
	}

	.pdf-container h5 {
	font-size:16px; color:#0a82c5; font-style: italic; padding-bottom: 0;
	}

	.pdf-container p {
	font-size:16px;
	}

	@media screen and (max-width: 640px){

		.pdf-container h5 {
		padding-bottom:10px;
		}

		.pdf-container h4 {
		padding:0 0 1em;
		}

		
	}



	.pdf-container .button {cursor:pointer; text-align:center; background-color:#fff; color:#116db6; border: solid 3px #116db6;  padding: 0.75em 0.8em 0.5em; line-height:14px; font-family: 'UniversCondensedBold', sans-serif; font-size:14px; border-radius: 7px; transition: background-color 0.25s;}
	.pdf-container .button:hover {background-color:#116db6; color:#fff; text-decoration: none;}


	.pdf-button{
		font-family: UniversCondensedBold;
		float:left;
		border-radius: 10px;
		font-size: 1em;
		padding: 0 2em;
		line-height: 40px;
		margin:1em 0 0 0;
		border:solid 3px #0A82C5;	
		background-color: transparent; 
		color:#0A82C5;
		transition: background-color 0.25s;
		display:block;
	}

	.pdf-button:hover{border:solid 3px #0A82C5; background-color:#0A82C5;	color:#fff; text-decoration: none;}

.reveal {
  display: none;
  z-index: 1006;
  padding: 1rem;
  border: 1px solid #cacaca;
  margin: 100px auto 0 auto;
  background-color: #fefefe;
  border-radius: 0;
  position: absolute;
  overflow-y: auto; }
  [data-whatinput='mouse'] .reveal {
    outline: 0; }
  @media screen and (min-width: 40em) {
    .reveal {
      min-height: 0; } }
  .reveal .column, .reveal .columns,
  .reveal .columns {
    min-width: 0; }
  .reveal > :last-child {
    margin-bottom: 0; }
  @media screen and (min-width: 40em) {
    .reveal {
      width: 80%;
      max-width: 75rem; } }
  .reveal.collapse {
    padding: 0; }
  @media screen and (min-width: 40em) {
    .reveal .reveal {
      left: auto;
      right: auto;
	  top: 100px;
      margin: 0 auto; } }
  @media screen and (min-width: 40em) {
    .reveal.tiny {
      width: 30%;
      max-width: 75rem; } }
  @media screen and (min-width: 40em) {
    .reveal.small {
      width: 50%;
      max-width: 75rem; } }
  @media screen and (min-width: 40em) {
    .reveal.large {
      width: 90%;
      max-width: 75rem; } }
  .reveal.full {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 100vh;
    min-height: 100vh;
    max-width: none;
    margin-left: 0; }

#owl-dates {}

#owl-dates .event {text-align: center; float:left; width: 160px; padding: 0 1em;}
#owl-dates .event .month {font-size: 34px; line-height: 34px; padding-top: 20px;}
#owl-dates .event .day {font-family: UniversCondensedBold; padding: 0; font-size: 48px; line-height: 48px;}
#owl-dates .event .description {font-family: UniversCondensedBold; font-size: 15px; color: #616161; line-height:36px;}
#owl-dates .event .description.location {line-height: 18px;}

#owl-dates .event .circle
{
width:115px;
height:115px;
border-radius:50%;
font-size:15px;
color:#fff;
/*line-height:115px;*/
text-align:center;
background:#116db6;
margin-bottom: 1em;
}

#owl-dates .event a.button {font-family: UniversCondensedBold; color: #fff; font-size: 14px; line-height: 29px; padding: 0 2em; margin: 10px 0; background-color: #36a000; border-radius: 25px;}
#owl-dates .event a.button:hover {background-color:#115db5; text-decoration: none;}

.owl-theme-date .owl-controls{
margin-top: 0;
text-align: center;
}

#owl-dates .owl-pagination {display: none;}

/* Styling Next and Prev buttons */


/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme-date .owl-controls.clickable .owl-buttons div:hover{
filter: Alpha(Opacity=100);/*IE7 fix*/
opacity: 1;
text-decoration: none;
}

/* Styling Pagination*/
/* Styling Next and Prev buttons */

.owl-theme-date .owl-controls .owl-buttons div{
color: #FFF;
display: inline-block;
zoom: 1;
*display: inline;/*IE7 life-saver */
margin: 0;
padding: 0;
font-size: 12px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
background: none;
filter: Alpha(Opacity=50);/*IE7 fix*/
opacity: 1;
}

.owl-theme-date .owl-controls .owl-page{
display: inline-block;
zoom: 1;
*display: inline;/*IE7 life-saver */
}
.owl-theme-date .owl-controls .owl-page span{
display: none;
width: 12px;
height: 12px;
margin: 5px 7px;
filter: Alpha(Opacity=50);/*IE7 fix*/
opacity: 0.5;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
background: #869791;
}

.owl-theme-date .owl-controls .owl-page.active span,
.owl-theme-date .owl-controls.clickable .owl-page:hover span{
filter: Alpha(Opacity=100);/*IE7 fix*/
opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme-date .owl-controls .owl-page span.owl-numbers{
height: auto;
width: auto;
color: #FFF;
padding: 2px 10px;
font-size: 12px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
min-height: 150px;
background: url(AjaxLoader.html) no-repeat center center
}

#owl-demo .owl-item > div img {
display: block;
width: 100%;
height: auto;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin-bottom:4px;
}

#owl-demo .owl-item > div{
background : #42bdc2;
text-align: center;
padding:50px 0px;
margin:3px;
color: white;
font-size:32px;
border:1px white;
}

.wrapper-with-margin{
margin:0px 50px;
}


.owl-theme-date .owl-controls .owl-buttons div {
position: absolute;
}

.owl-theme-date .owl-controls .owl-buttons .owl-prev {
left: -60px;
top: 40px;
}

.owl-theme-date .owl-controls .owl-buttons .owl-next {
right: 0;
top: 40px;
}
	

.mobile-menu-item-li{
	padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.mobile-menu-item-a{
    padding: 1.25rem 1rem !important;
    text-align: left !important;
} 

/* .mobile-menu-item-li ul li a {
    background-color: #0a82c5 !important;
    color: white !important;
    text-align: left !important;
} */

/* .mobile-menu-item-li ul, .mobile-menu-item-li ul li{
	padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
} */

/* .mobile-menu-item-li ul li a{
    padding: 1em !important;
	font-size: 17px !important;
	color: #fff !important; */
	/* font-family: 'UniversCondensed', sans-serif !important; */
	/* font-weight: bold !important;
	border-bottom: solid 2px #cbcbcb !important;
	font-family: sans-serif !important;
} */